body {
    background-color:whitesmoke;
    font-family: Helvetica, sans-serif;
    font-size: .8em;
    vertical-align: middle;
    padding-top: 100px;
}

#navbar-title {
    padding: 0px;
    font-size: 30px;
    text-align: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

.header-text {
  margin: auto;
}

.navbar {
    border-bottom: solid;
    border-bottom-color: #ccc;
    width: 100%;
    text-align: center;
  }

  #navbar-subtitle {
    padding: 2px;
    font-size: 15px;
    color: gray;
    text-align: center;
  }

  .col-md-1, .col-md-2, .col-md-9 {
    padding: 0;
  }


  /* Start of planner section */

  #plannerContainer {
    background-color: burlywood;  
    margin-top: 20px;
    margin-bottom: 80px;
    padding: 40px;
  } 

  .plannerRow {
    height: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 1em;
    line-height: 1.5;
    padding: 5px;
  }

  input {
    width: 98%;
  }

  @media (max-width: 768px) {
    .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }
    .plannerRow {
      height: 100%;
      border-radius: 10;
      margin: 10px;
    }
  
    .saveIcon { border-radius: 0 0 15px 15px; }
  
    .timeBox { border-radius: 15px 15px 0 0; }
  }

  .timeBox {
    padding-top: 20px;
  }

  .saveIcon {
    padding-top: 8px;
    align-items: center;
    background-color: rgb(255, 208, 0);
    color: white;
    border-radius: 30px;
    font-size: 1.5em;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .saveIcon:hover {
    background-color: coral;
    cursor: pointer;
  }